<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Password Manager</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="apple-touch-icon-precomposed" href="image/key-152-211406.png">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js" defer></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js" defer></script>
    <![endif]-->

    <script type="text/javascript" src="js/angular.min.js" defer></script>
    <script type="text/javascript" src="js/angular-resource.min.js" defer></script>
    <script type="text/javascript" src="js/jquery.min.js" defer></script>
    <script type="text/javascript" src="js/bootstrap.min.js" defer></script>
    <script type="text/javascript" src="js/forge.min.js" defer></script>
    <script type="text/javascript" src="js/cipher.js" defer></script>
    <script type="text/javascript" src="js/resources.js" defer></script>
    <script type="text/javascript" src="js/backup-controller.js" defer></script>
    <script src="https://www.gstatic.com/firebasejs/7.15.1/firebase-app.js" defer></script>
    <script src="https://www.gstatic.com/firebasejs/7.15.1/firebase-auth.js" defer></script>
    <script type="text/javascript" src="js/firebase.js" defer></script>

</head>
<body ng-controller="ctrl">

<ng-include src="'header.html'"></ng-include>
<div class="container">
    <div class="starter-template">
        <ng-include src="'alerts.html'"></ng-include>
        <div class="jumbotron">
            <h1>Backup</h1>
            <div ng-show="!user || !user.$resolved">
                <p><img src="image/ajax-loader.gif" class="center-block"></p>
            </div>
            <div ng-show="user.registered">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Date</th>
                        <th>Number of passwords</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="backup in backups">
                        <td>{{formatDate(backup.backupDate)}}</td>
                        <td>{{backup.numberOfPasswords}}</td>
                        <td>
                            <button class="btn btn-info" ng-click="prepareBackup(backup)"
                                    data-toggle="modal" data-target="#confirmRestore">
                                <span class="glyphicon glyphicon-save" aria-hidden="true"></span>
                                Restore
                            </button>
                            <button class="btn btn-danger" ng-click="prepareDelete(backup)"
                                    data-toggle="modal" data-target="#confirmDelete">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <button type="button" class="btn btn-success" ng-click="createBackup()">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    Create Backup
                </button>
            </div>
        </div>
    </div>
</div>
<div id="confirmRestore" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Restore backup</h4>
            </div>
            <div class="modal-body">
                Are you sure you want to restore this backup taken on <b>{{formatDate(backupToBeRestored.backupDate)}}</b>? All your stored passwords will be overwritten!
                <div class="form-group">
                    <label for="backupMasterPwdInput" class="sr-only">Backup's Master Password</label>
                    <input id="backupMasterPwdInput" class="form-control" ng-model="backupMasterPwd" type="password"
                           placeholder="Backup's Master Password"/>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-primary" ng-click="restoreBackup()">Restore</button>
                <button type="button" data-dismiss="modal" class="btn">Cancel</button>
            </div>
        </div>
    </div>
</div>
<div id="confirmDelete" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Delete backup</h4>
            </div>
            <div class="modal-body">
                Are you sure you want to delete the backup taken on <b>{{formatDate(backupToBeDeleted.backupDate)}}</b>?
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-primary" ng-click="deleteBackup()">Delete</button>
                <button type="button" data-dismiss="modal" class="btn">Cancel</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>