<html lang="en" ng-app="app">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Password Manager</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-editable.css" rel="stylesheet"/>
    <link href="css/xeditable.css" rel="stylesheet"/>
    <link href="css/main.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script type="text/javascript" src="js/forge.min.js"></script>
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/cipher.js"></script>
    <script type="text/javascript" src="js/maincontroller.js"></script>
    <script type="text/javascript" src="js/bootstrap-editable.min.js"></script>
    <script type="text/javascript" src="js/xeditable.min.js"></script>
    <script type="text/javascript" src="js/clipboard.js"></script>

</head>
<body ng-controller="ctrl">
<ng-include src="'header.html'"></ng-include>
<div class="container">
    <div class="starter-template">
        <ng-include src="'alerts.html'"></ng-include>
        <div class="jumbotron" ng-show="(masterKey ? false : true)">
            <h1>Welcome to Password Manager!</h1>
            <div ng-show="user ? false : true">
                <p><img src="image/ajax-loader.gif" class="center-block"></p>
            </div>
            <div ng-show="user ? true : false">
                <form class="form-group" ng-show="user.encodedUserId ? false : true" ng-submit="addEncodedUserId()"
                      autocomplete="off">
                    <p class="lead">It seems your are a first time visitor of Password Manager!</p>
                    <p class="lead">In order to proceed, please create your Master Password</p>
                    <p><input class="form-control" ng-model="newMasterPassword1" type="password" placeholder="Master Password"/></p>
                    <p><input class="form-control" ng-model="newMasterPassword2" type="password" placeholder="Type again"/></p>
                    <p><button type="submit" class="btn btn-primary btn-lg">Create</button></p>
                </form>
                <form class="form-group" ng-show="user.encodedUserId ? true : false" ng-submit="masterPasswordLogin()"
                      autocomplete="off">
                    <p class="lead">In order to proceed, please provide your Master Password</p>
                    <p>
                        <label for="modelMasterPwdInput" class="sr-only">Master Password</label>
                        <input id="modelMasterPwdInput" class="form-control" ng-model="modelMasterPwd" type="password"
                               placeholder="Master Password" autofocus/>
                    </p>
                    <p><button type="submit" class="btn btn-primary btn-lg">Proceed</button></p>
                </form>
                <span class="label label-default">SECURITY</span>The cipher algorithm uses the master password to encrypt and decrypt your passwords.
                The server stores only your encrypted passwords which are <strong>impossible to decrypt without your master password</strong>.
                <br>
                <span class="label label-default">GOOD TO KNOW</span> Your master password will <strong>never be sent</strong> to the server nor will be stored its raw format!
                It remains in secrecy in your browser's memory until you close this tab or the timelock expires.<br>
                <span class="label label-default">DOUBLE SECURITY</span>Your passwords are protected by <strong>both your Google account and a master password</strong><br>
                <span class="label label-default">STANDARD</span>The app uses the industry standard <strong>AES cipher with 128, 192 or 256 bit encryption</strong> of your choice.<br>
                <span class="label label-default">OPEN SOURCE</span>Check the source code on <a href="https://github.com/himadri77/passwordmanager" target="_blank">GitHub</a> and verify what I promise!<br>
                <span class="label label-default">CAREFUL</span>If you forget your master password, nobody is going to be able to decrypt your stored passwords.<br>
            </div>
        </div>

        <div class="panel panel-default" ng-show="masterKey ? true : false">
            <div class="panel-heading">My Passwords</div>
            <div class="panel-body">
                <input class="form-control" ng-model="tablefilter.domain" placeholder="Filter by domain"/>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Domain</th>
                            <th colspan="2">Password</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="domain in domains | filter: tablefilter">
                            <td class="col-xs-5 col-md-5"
                                ng-mouseover="hoverOverDomain(domain)" ng-mouseout="leaveHoverOverDomain(domain)">
                                <span editable-text="domain.domain" e-form="domainBtnForm"
                                      onbeforesave="updateDomain(domain, $data)"
                                      ng-click="hoverOrLeaveOverDomain(domain)">
                                    {{domain.domain}}
                                </span>
                                <button class="btn btn-info pull-right" ng-click="domainBtnForm.$show()"
                                        ng-show="domain.showDomainEditButton && !domainBtnForm.$visible">
                                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                </button>
                            </td>
                            <td class="col-xs-5 col-md-5">
                                <span ng-show="!domain.shownPassword">*******</span>
                                <span ng-show="domain.shownPassword"
                                      editable-text="domain.decodedPassword" e-form="passwordBtnForm"
                                      onbeforesave="updatePassword(domain, $data)">
                                    {{domain.decodedPassword}}
                                </span>
                                <button class="btn btn-info pull-right" ng-click="passwordBtnForm.$show()"
                                        ng-show="domain.shownPassword && !passwordBtnForm.$visible">
                                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                </button>
                            </td>
                            <td class="col-xs-2 col-md-2">
                                <button type="button" class="btn btn-info"
                                        ng-click="showOrHidePassword(domain)" ng-disabled="passwordBtnForm.$visible">
                                    <span class="glyphicon glyphicon-eye-open" aria-hidden="true" ng-show="!domain.shownPassword"></span>
                                    <span class="glyphicon glyphicon-eye-close" aria-hidden="true" ng-show="domain.shownPassword"></span>
                                </button>
                                <button type="button" class="btn btn-info" ng-show="copySupported"
                                        ng-click="copyPassword(domain)" ng-disabled="passwordBtnForm.$visible">
                                    <span class="glyphicon glyphicon-copy" aria-hidden="true"></span>
                                </button>
                                <button class="btn btn-danger" ng-click="prepareDeleteDomain(domain)"
                                        data-toggle="modal" data-target="#confirm">
                                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group" ng-class="newDomainClass">
                                    <label for="newDomainInput" class="sr-only">New Domain</label>
                                    <input id="newDomainInput" class="form-control" ng-model="newDomain" placeholder="New Domain"/>
                                </div>
                            </td>
                            <td>
                                <div class="form-group" ng-class="newPasswordClass">
                                    <p><label for="newPasswordInput" class="sr-only">New Password</label>
                                    <input id="newPasswordInput" class="form-control" ng-model="newPassword" placeholder="New Password"/></p>
                                    <p><button type="button" class="btn btn-info" ng-click="randomPassword()">
                                        <span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>
                                        Generate Password
                                    </button></p>
                                </div>
                            </td>
                            <td>
                                <button type="button" class="btn btn-success" ng-click="addPassword()">
                                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div id="confirm" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Delete domain</h4>
            </div>
            <div class="modal-body">
                Are you sure you want to delete <b>{{domainToBeDeleted.domain}}</b> and its password?
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-primary" ng-click="deleteDomain()">Delete</button>
                <button type="button" data-dismiss="modal" class="btn">Cancel</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>