<html lang="en" ng-app="app">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Password Manager</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script type="text/javascript" src="js/forge.min.js"></script>
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/cipher.js"></script>
    <script type="text/javascript" src="js/password-change-controller.js"></script>

</head>
<body ng-controller="ctrl">
<ng-include src="'header.html'"></ng-include>
<div class="container">
    <div class="starter-template">
        <ng-include src="'alerts.html'"></ng-include>
        <div class="jumbotron" ng-show="(masterKey ? false : true)">
            <h1>Change My Master Password</h1>
            <div ng-show="user ? false : true">
                <p><img src="image/ajax-loader.gif" class="center-block"></p>
            </div>
            <div ng-show="user ? true : false">
                <form class="form-group" ng-show="user.encodedUserId ? true : false" ng-submit="changeMasterPassword()"
                      autocomplete="off">
                    <p><input class="form-control" ng-model="modelMasterPwd" type="password" placeholder="Current Master Password"/></p>
                    <p><input class="form-control" ng-model="newMasterPassword1" type="password" placeholder="New Password"/></p>
                    <p><input class="form-control" ng-model="newMasterPassword2" type="password" placeholder="Type again your New Password"/></p>
                    <p><button type="submit" class="btn btn-primary btn-lg">Change</button></p>
                </form>
                <div ng-show="user.encodedUserId ? false : true">
                    <p class="lead">You do not have a Master Password yet to be changed!</p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>